<template>
    <div>
        <form v-on:submit.prevent="myRequest">
            <div class="demo-input-suffix input-group mb-3">
                <span class="demo-input-label">Using attributes name for searching</span>
                <el-input placeholder="Please input name" v-model="name"></el-input>
            </div>
            <div class="demo-input-suffix input-group mb-3">
                <div class="row">
                    <div class="col">
                        <span class="demo-input-label">Using attributes price for searching</span>
                    </div>
                    <div class="col">
                        <el-input placeholder="Please input min price" v-model="price[0]"></el-input>
                    </div>
                    <div class="col">
                        <el-input placeholder="Please input max price" v-model="price[1]"></el-input>
                    </div>

                </div>


            </div>

            <div class="demo-input-suffix input-group mb-3">
                <span class="demo-input-label">Using attributes bedrooms for searching</span>
                <el-input placeholder="Please input bedrooms" v-model="bedrooms"></el-input>

            </div>
            <div class="demo-input-suffix input-group mb-3">
                <span class="demo-input-label">Using attributes bathrooms for searching</span>
                <el-input placeholder="Please input bathrooms" v-model="bathrooms"></el-input>
            </div>
            <div class="demo-input-suffix input-group mb-3">
                <span class="demo-input-label">Using attributes storeys for searching</span>
                <el-input placeholder="Please input storeys" v-model="storeys"></el-input>
            </div>
            <div class="demo-input-suffix input-group mb-3">
                <span class="demo-input-label">Using attributes garages for searching</span>
                <el-input placeholder="Please input garages" v-model="garages"></el-input>
            </div>
            <el-row>
                <el-button native-type="submit" type="primary">Search</el-button>
            </el-row>

        </form>
        <el-table
                :data="myHouses.data"
                class="mt-5"
                v-loading="loading"
                element-loading-text="Loading..."
                element-loading-spinner="el-icon-loading"
                empty-text="Sorry, we do not have any results!"
        >
            <el-table-column
                    fixed
                    prop="name"
                    label="Name"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="price"
                    label="Price"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="bedrooms"
                    label="Bedrooms"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="bathrooms"
                    label="Bathrooms"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="storeys"
                    label="Storeys"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="garages"
                    label="Garages"
                    width="120">
            </el-table-column>
        </el-table>

            <pagination class="mt-3" :data="myHouses" align="center" :limit="1" size="small"
                        @pagination-change-page="myRequest"></pagination>

    </div>


</template>

<script>
    import axios from 'axios';
    import VueAxios from 'vue-axios';

    Vue.use(VueAxios, axios);

    export default {
        methods: {
            myRequest: function (page = 1) {
                var params = {};
                if (this.id) params.id = this.id;
                if (this.name) params.name = this.name;
                if (this.price[0] != 0 && this.price[1] != 0) {
                    params.price = this.price;
                }
                if (this.bedrooms) params.bedrooms = this.bedrooms;
                if (this.bathrooms) params.bathrooms = this.bathrooms;
                if (this.storeys) params.storeys = this.storeys;
                if (this.garages) params.garages = this.garages;

                this.loading = true;
                axios.get('/api/index?page=' + page, {params})
                    .then((response) => {
                        this.loading = false;
                        this.myHouses = response.data;
                        if (this.myHouses.length == 0) {
                            this.open();
                        }
                    }).catch((error) => {
                    console.log(error);
                    this.$message({
                        message: error.message,
                        showClose: true,
                        type: 'error'
                    });
                    this.loading = false;
                    this.myHouses = {};
                })


            },
            open() {
                this.$message({
                    message: 'Sorry, we do not have any results!',
                    showClose: true
                });
            },
        },
        data() {
            return {
                myHouses: {},
                name: '',
                price: [],
                id: '',
                bedrooms: '',
                bathrooms: '',
                storeys: '',
                garages: '',
                loading: false
            }
        },
        props: {
            houses: String
        },
        mounted() {
            this.myHouses = JSON.parse(this.houses);
        },
    }
</script>
